remediation-workflow.asl.json
{
  "Comment": "Cost Guardian Remediation Workflow - Handles complex cost spike remediation with approval gates",
  "StartAt": "ClassifySeverity",
  "States": {
    "ClassifySeverity": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.projected_cost",
          "NumericGreaterThanEquals": 100,
          "Next": "CriticalResponse"
        },
        {
          "Variable": "$.projected_cost",
          "NumericGreaterThanEquals": 50,
          "Next": "HighResponse"
        },
        {
          "Variable": "$.projected_cost",
          "NumericGreaterThanEquals": 10,
          "Next": "MediumResponse"
        }
      ],
      "Default": "LowResponse"
    },
    
    "CriticalResponse": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "ImmediateThrottle",
          "States": {
            "ImmediateThrottle": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "cost-guardian-remediation",
                "Payload": {
                  "action": "throttle_lambda",
                  "params": {
                    "function_name.$": "$.additional_params.function_name",
                    "concurrency": 1
                  }
                }
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "NotifyPagerDuty",
          "States": {
            "NotifyPagerDuty": {
              "Type": "Task",
              "Resource": "arn:aws:states:::sns:publish",
              "Parameters": {
                "TopicArn": "arn:aws:sns:us-east-1:ACCOUNT_ID:pagerduty-integration",
                "Subject": "CRITICAL: Cost Spike Detected",
                "Message.$": "States.Format('Critical cost spike detected. Rule: {}. Projected cost: ${}. Automatic throttling applied.', $.rule_id, $.projected_cost)"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "LogIncident",
          "States": {
            "LogIncident": {
              "Type": "Task",
              "Resource": "arn:aws:states:::dynamodb:putItem",
              "Parameters": {
                "TableName": "cost-guardian-incidents",
                "Item": {
                  "incident_id": {"S.$": "$$.Execution.Id"},
                  "rule_id": {"S.$": "$.rule_id"},
                  "projected_cost": {"N.$": "$.projected_cost"},
                  "timestamp": {"S.$": "$.timestamp"},
                  "severity": {"S": "CRITICAL"},
                  "auto_remediated": {"BOOL": true}
                }
              },
              "End": true
            }
          }
        }
      ],
      "Next": "WaitForCooldown"
    },
    
    "HighResponse": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "ModerateThrottle",
          "States": {
            "ModerateThrottle": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "cost-guardian-remediation",
                "Payload": {
                  "action": "throttle_lambda",
                  "params": {
                    "function_name.$": "$.additional_params.function_name",
                    "concurrency": 10
                  }
                }
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "NotifySlack",
          "States": {
            "NotifySlack": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "slack-notifier",
                "Payload": {
                  "channel": "#cost-alerts",
                  "message.$": "States.Format(':warning: High cost spike. Rule: {}. Projected: ${}. Auto-throttling to 10 concurrent.', $.rule_id, $.projected_cost)"
                }
              },
              "End": true
            }
          }
        }
      ],
      "Next": "RequestApproval"
    },
    
    "MediumResponse": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:us-east-1:ACCOUNT_ID:cost-alerts",
        "Subject": "Cost Alert: Medium Severity",
        "Message.$": "States.Format('Medium cost spike detected. Rule: {}. Projected cost: ${}. No automatic action taken.', $.rule_id, $.projected_cost)"
      },
      "Next": "WaitForOperatorDecision"
    },
    
    "LowResponse": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:us-east-1:ACCOUNT_ID:cost-alerts",
        "Subject": "Cost Alert: Low Severity",
        "Message.$": "States.Format('Low cost spike detected. Rule: {}. Projected cost: ${}.', $.rule_id, $.projected_cost)"
      },
      "End": true
    },
    
    "RequestApproval": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish.waitForTaskToken",
      "Parameters": {
        "TopicArn": "arn:aws:sns:us-east-1:ACCOUNT_ID:approval-requests",
        "Subject": "Approval Required: Cost Remediation",
        "Message.$": "States.Format('Approval needed for additional remediation. Rule: {}. Projected: ${}. Click to approve: https://approval.example.com/approve?token={}', $.rule_id, $.projected_cost, $$.Task.Token)"
      },
      "TimeoutSeconds": 1800,
      "Catch": [
        {
          "ErrorEquals": ["States.Timeout"],
          "Next": "ApprovalTimeout"
        }
      ],
      "Next": "ApplyFullRemediation"
    },
    
    "ApprovalTimeout": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:us-east-1:ACCOUNT_ID:cost-alerts",
        "Subject": "Approval Timeout",
        "Message": "Remediation approval timed out. Initial throttling remains in place."
      },
      "End": true
    },
    
    "ApplyFullRemediation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "cost-guardian-remediation",
        "Payload": {
          "action": "disable_lambda",
          "params": {
            "function_name.$": "$.additional_params.function_name"
          }
        }
      },
      "Next": "NotifyRemediationComplete"
    },
    
    "WaitForOperatorDecision": {
      "Type": "Wait",
      "Seconds": 300,
      "Next": "CheckCostAfterWait"
    },
    
    "CheckCostAfterWait": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "cost-guardian-evaluator",
        "Payload": {
          "rule_id.$": "$.rule_id"
        }
      },
      "Next": "EvaluatePostWait"
    },
    
    "EvaluatePostWait": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.Payload.breach",
          "BooleanEquals": true,
          "Next": "EscalateToHigh"
        }
      ],
      "Default": "ResolutionComplete"
    },
    
    "EscalateToHigh": {
      "Type": "Pass",
      "Next": "HighResponse"
    },
    
    "WaitForCooldown": {
      "Type": "Wait",
      "Seconds": 600,
      "Next": "CheckPostRemediation"
    },
    
    "CheckPostRemediation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "cost-guardian-evaluator",
        "Payload": {
          "rule_id.$": "$.rule_id",
          "check_type": "post_remediation"
        }
      },
      "Next": "EvaluateRecovery"
    },
    
    "EvaluateRecovery": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.Payload.breach",
          "BooleanEquals": false,
          "Next": "GradualRestore"
        }
      ],
      "Default": "MaintainThrottle"
    },
    
    "GradualRestore": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "cost-guardian-remediation",
        "Payload": {
          "action": "set_reserved_concurrency",
          "params": {
            "function_name.$": "$.additional_params.function_name",
            "concurrency": 50
          }
        }
      },
      "Next": "NotifyRemediationComplete"
    },
    
    "MaintainThrottle": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:us-east-1:ACCOUNT_ID:cost-alerts",
        "Subject": "Throttle Maintained",
        "Message.$": "States.Format('Cost still elevated after cooldown. Maintaining throttle on {}. Manual review required.', $.additional_params.function_name)"
      },
      "End": true
    },
    
    "NotifyRemediationComplete": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:us-east-1:ACCOUNT_ID:cost-alerts",
        "Subject": "Remediation Complete",
        "Message.$": "States.Format('Cost remediation workflow complete for rule {}. Service restored.', $.rule_id)"
      },
      "Next": "ResolutionComplete"
    },
    
    "ResolutionComplete": {
      "Type": "Succeed"
    }
  }
}
